.bento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 16px;
    aspect-ratio: 1 / 1;
}

.card {
    background: var(--card-bg);
    color: var(--card-text);
    padding: 32px;
    border-radius: 32px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
}
