.main {
    margin-left: var(--nav-width);
    margin-top: 96px;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background: var(--article-bg);
    color: var(--article-text);
    padding: 32px;
    border-radius: 32px;
    box-shadow: var(--article-shadow);
    border: var(--article-border);
}

.footer {
    margin-top: 32px;
    font-size: 12px;
    color: var(--text-muted);
}
